@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Abril Fatface", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.heading {
  width: 2000px;
  height: 300px;
  font-size: 12rem;
  font-weight: 900;
  background: url(https://images.unsplash.com/photo-1501854140801-50d01698950b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bmF0dXJlfGVufDB8fDB8fHww);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
